# general development files
*~
# general compilable objects, binaries, and other execution related soft links
*.o
*.d
*.so
*.log
genTree/runMcAll.con
genTree/log
genTree/output
genTree/script
genTree/outtest
ana/analysis
ana/*.dataset
ana/*.session.xml
ana/schedTemplateExp.xml
